---
import Layout from '../layouts/Layout.astro';
import { Image } from '@astrojs/image/components';
import Card from '../components/Card';
import Searchbar from "../components/Searchbar/Searchbar.astro";
import {Song} from "../interfaces/Song";
import fetchSongs from "../api/methods/fetchSongs";

const songs: Song[] = await fetchSongs();
---

<Layout title="Willkommen bei Nicolas Banger Sucher Webseite!.">
	<main>
		<Searchbar />
		<ul role="list" class="link-card-grid">
			{songs.map(({title, img, artist})=> <Card
				client:load
				href={title}
				title={title}
				body={artist}
			>
				<Image src={img} alt={title} format="webp" width="100" height="100" />
			</Card>)}
		</ul>
	</main>
</Layout>

<style>
	marquee{
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	main {
		padding: 1.5rem 0 1.5rem 0;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
